$header-color: #087391;
$picture-height:20%;
$picture-width:50%;
.logo{
    width: $picture-width - 20;
    height: $picture-height ;
    border-radius: 50%;
}
.main-title {
margin-top: $margin-top;
margin-bottom: $margin-down;

}
.body-text{
    margin: 2%;
    display: flex;
}
.navbar {
    background-color: #087391;
}                            
